body{
        background-image: url(/images/background.jpg);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; 
    }

    h1{
        text-align: center;
    }
    
    a{
        text-align: center;
    }